body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.modal {
    border: 1px solid black;
    background-color: white;
    width: 300px;
        height: 200px;
        display: flex;
        border-radius: 10px;
        overflow-y: auto;
    }
    
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    
    }
    
    .modalHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    
    .inputLine {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .inputLine input {
        flex-grow: 1;
        margin-left: 5px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    
    /* Magic lines */
    
    
  
                
                .input-container {
                    height: 50px;
                    position: relative;
                    width: 100%;
                    margin-top: 30px;
                }
                
              
                
                .input {
                    background-color: white;
                    border: 1px solid black;
                    border-radius: 12px;
                    box-sizing: border-box;
                    color: black;
                    font-size: 18px;
                    height: 100%;
                    outline: 0;
                    padding: 4px 20px 0;
                    width: 100%;
                }
                
                .cut {
                    background-color: white;
                border-radius: 10px;
                height: 20px;
                    left: 20px;
                    position: absolute;
                    top: -20px;
                    transform: translateY(0);
                    transition: transform 200ms;
                    width: 100px;
                }
                
                .input:focus~.cut,
                .input:not(:placeholder-shown)~.cut {
                    transform: translateY(8px);
                    background-color: black;
                }
                
                .placeholder {
                    color: #65657b;
                    font-family: sans-serif;
                    left: 20px;
                    line-height: 14px;
                    pointer-events: none;
                    position: absolute;
                    transform-origin: 0 50%;
                    transition: transform 200ms, color 200ms;
                    top: 20px;
                }
                
                .input:focus~.placeholder,
                .input:not(:placeholder-shown)~.placeholder {
                    transform: translateY(-30px) translateX(10px) scale(0.75);
                }
                
                .input:not(:placeholder-shown)~.placeholder {
                    color: white;
                }
                
                .input:focus~.placeholder {
                    color: white;
            
                }